name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
  schedule:
    - cron: 0 0 1 * *

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changed:
    outputs:
      changed-github-action-runner: ${{ steps.main.outputs.github_action_runner_any_changed }}
    runs-on: ubuntu-latest
    steps:
      - if: ${{github.event_name =='pull_request'||github.event_name =='push'}}
        uses: actions/checkout@v5
      - id: main
        if: ${{github.event_name =='pull_request'||github.event_name =='push'}}
        uses: tj-actions/changed-files@v47
        with:
          files_yaml: |
            github_action_runner:
              - ./image/github-action-runner/**

  github-action-runner-docker:
    runs-on: ubuntu-latest
    needs: changed
    if: ${{ needs.changed.outputs.changed-github-action-runner != 'false' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - id: get-version
        env:
          GH_TOKEN: ${{ github.token }}
        run: ./image/github-action-runner/get-runner-version.ps1
        shell: pwsh

      - name: Build Docker image
        run: |
          echo "Runner version is ${{ steps.get-version.outputs.version }}"
          docker build -f github-action-runner/Dockerfile \
            --build-arg RUNNER_VERSION=${{ steps.get-version.outputs.version }} \
            -t glatzel/github-action-runner:${{ steps.get-version.outputs.version }} \
            .
        working-directory: image

      - run: |
          docker images
          docker history --human --no-trunc glatzel/github-action-runner:${{ steps.get-version.outputs.version }}

  github-action-runner-containerd:
    runs-on: ubuntu-latest
    needs: changed
    if: ${{ needs.changed.outputs.changed-github-action-runner != 'false' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - id: get-version
        env:
          GH_TOKEN: ${{ github.token }}
        run: ./image/github-action-runner/get-runner-version.ps1
        shell: pwsh

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@main
        with:
          run-install: false
      - run: pixi global install -c https://prefix.dev/glatzel containerd nerdctl

      - name: Build Docker image
        run: |
          echo "Runner version is ${{ steps.get-version.outputs.version }}"
          sudo systemctl start containerd
          nerdctl build -f github-action-runner/Dockerfile \
            --build-arg RUNNER_VERSION=${{ steps.get-version.outputs.version }} \
            -t glatzel/github-action-runner:${{ steps.get-version.outputs.version }} \
            .
        working-directory: image

      - run: |
          nerdctl images
          nerdctl history --human --no-trunc glatzel/github-action-runner:${{ steps.get-version.outputs.version }}
