name: Build

on:
  workflow_dispatch:
    inputs:
      publish:
        description: whether to publish image
        type: boolean
        default: false

  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
  schedule:
    - cron: 0 0 1 * *

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dispatch:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix_json.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - name: packages_yaml
        if: ${{github.event_name == 'pull_request' || github.event_name == 'push'}}
        run: ./scripts/images_yaml.ps1
        shell: pwsh

      - id: change
        if: ${{github.event_name == 'pull_request' || github.event_name == 'push'}}
        uses: tj-actions/changed-files@v47
        with:
          json: true
          files_yaml_from_source_file: ./images.yaml
      - name: matrix_json
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          CHANGED_KEYS: ${{steps.change.outputs.changed_keys}}
        id: matrix_json
        run: ./scripts/matrix_json.ps1
        shell: pwsh

  build-and-push:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    needs: dispatch
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.dispatch.outputs.matrix) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Docker image
        env:
          GH_TOKEN: ${{ github.token }}
        id: build
        run: ./build.ps1
        working-directory: images/${{matrix.image}}
        shell: pwsh

      - name: inspect Docker image
        run: |
          docker images
          docker history --human --no-trunc ${{steps.build.outputs.tag}}

      - name: Log in to DockerHub
        if: inputs.publish
        uses: docker/login-action@v3
        with:
          username: glatzel
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        if: inputs.publish
        run: docker push ${{steps.build.outputs.tag}}

      - name: Log in to ghcr
        if: inputs.publish
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Push Docker image to ghcr
        if: inputs.publish
        run: |
          docker tag ${{steps.build.outputs.tag}} ghcr.io/${{steps.build.outputs.tag}}
          docker push ghcr.io/${{steps.build.outputs.tag}}
