name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
  schedule:
    - cron: 0 0 1 * *

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dispatch:
    runs-on: ubuntu-slim
    outputs:
      matrix: ${{ steps.matrix_json.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - name: packages_yaml
        if: ${{github.event_name == 'pull_request' || github.event_name == 'push'}}
        run: ./scripts/images_yaml.ps1
        shell: pwsh

      - id: change
        if: ${{github.event_name == 'pull_request' || github.event_name == 'push'}}
        uses: tj-actions/changed-files@v47
        with:
          json: true
          files_yaml_from_source_file: ./images.yaml
      - name: matrix_json
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          CHANGED_KEYS: ${{steps.change.outputs.changed_keys}}
        id: matrix_json
        run: ./scripts/matrix_json.ps1
        shell: pwsh

  build:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    needs: dispatch
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.dispatch.outputs.matrix) }}
    runs-on: ${{matrix.machine}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Docker image
        env:
          GH_TOKEN: ${{ github.token }}
        id: build
        run: ./build.ps1
        working-directory: images/${{matrix.image}}
        shell: pwsh

      - name: inspect Docker image
        run: |
          docker images
          docker history --human --no-trunc ${{matrix.image}}
