name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
  schedule:
    - cron: 0 0 1 * *

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref=='refs/heads/main' && github.sha || github.ref}}
  cancel-in-progress: true

jobs:
  dispatch:
    runs-on: ubuntu-slim
    outputs:
      matrix: ${{ steps.matrix_json.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - name: packages_yaml
        if: ${{github.event_name == 'pull_request' || github.event_name == 'push'}}
        run: ./scripts/images_yaml.ps1
        shell: pwsh

      - id: change
        if: ${{github.event_name == 'pull_request' || github.event_name == 'push'}}
        uses: tj-actions/changed-files@v47
        with:
          json: true
          files_yaml_from_source_file: ./images.yaml
      - name: matrix_json
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          CHANGED_KEYS: ${{steps.change.outputs.changed_keys}}
        id: matrix_json
        run: ./scripts/matrix_json.ps1
        shell: pwsh

  build:
    if: ${{needs.dispatch.outputs.matrix != '' }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    needs: dispatch
    env:
      PUBLISH: ${{ github.event_name == 'push' && 'true' || ''}}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.dispatch.outputs.matrix) }}
    runs-on: ${{matrix.machine}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - if: ${{matrix.cross=='true'}}
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - if: ${{matrix.cross=='true'}}
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          cache-binary: false
      - name: Log in to DockerHub
        if: ${{env.PUBLISH=='true'}}
        uses: docker/login-action@v3
        with:
          username: glatzel
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Log in to ghcr
        if: ${{env.PUBLISH=='true'}}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build Docker image
        env:
          GH_TOKEN: ${{ github.token }}
        id: build
        run: ./build.ps1
        working-directory: images/${{matrix.name}}
        shell: pwsh
  check-point:
    if: ( cancelled() || failure() ) && github.event_name == 'pull_request'
    needs: [build, dispatch]
    runs-on: ubuntu-slim
    steps:
      - run: exit 1
