name: publish

on:
  workflow_dispatch:
    inputs:
      name:
        type: string
        description: image name
        required: true
      machine:
        description: "machine"
        type: choice
        required: true
        options:
          - windows-latest
          - macos-latest
          - ubuntu-latest
          - ubuntu-24.04-arm
      cross:
        description: whether to use buildx
        type: boolean
        required: true
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}-${{inputs.name}}
  cancel-in-progress: true

jobs:
  build-and-push:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    env:
      PUBLISH: true
    runs-on: ${{inputs.machine}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - if: inputs.cross
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - if: inputs.cross
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to DockerHub

        uses: docker/login-action@v3
        with:
          username: glatzel
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Log in to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build Docker image
        env:
          GH_TOKEN: ${{ github.token }}
        id: build
        run: ./build.ps1
        working-directory: images/${{inputs.name}}
        shell: pwsh
